<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>你看到的我是蓝色的</key>
		<dict>
			<key>习惯</key>
			<array>
				<string>url</string>
				<string>http://url.mcvmc.com/xiami.php/1769581823.mp3</string>
			</array>
			<key>爸爸给的坚强</key>
			<array>
				<string>url</string>
				<string>hi</string>
			</array>
			<key>被剧终的音符</key>
			<array>
				<string>url</string>
				<string>hi</string>
			</array>
			<key>我没那么狠心</key>
			<array>
				<string>url</string>
				<string>hi</string>
			</array>
			<key>微笑练习</key>
			<array>
				<string>url</string>
				<string>hi</string>
			</array>
			<key>你不在的时候</key>
			<array>
				<string>url</string>
				<string>hi</string>
			</array>
			<key>你看到的我是蓝色的</key>
			<array>
				<string>url</string>
				<string>http://url.mcvmc.com/xiami.php/1769581822.mp3</string>
			</array>
			<key>灯</key>
			<array>
				<string>url</string>
				<string>hi</string>
			</array>
			<key>我为谁而来</key>
			<array>
				<string>url</string>
				<string>hi</string>
			</array>
			<key>沉淀</key>
			<array>
				<string>url</string>
				<string>hi</string>
			</array>	
		</dict>
		<key>可能</key>
		<dict>
			<key>Sorry Day</key>
			<array>
				<string>url</string>
				<string>hi</string>
			</array>
			<key>可能</key>
			<array>
				<string>url</string>
				<string>hi</string>
			</array>
			<key>化妆师</key>
			<array>
				<string>url</string>
				<string>hi</string>
			</array>
			<key>私游</key>
			<array>
				<string>url</string>
				<string>hi</string>
			</array>
			<key>口袋里的练习曲</key>
			<array>
				<string>url</string>
				<string>hi</string>
			</array>
			<key>你说的对</key>
			<array>
				<string>url</string>
				<string>hi</string>
			</array>
			<key>房间1501</key>
			<array>
				<string>url</string>
				<string>hi</string>
			</array>
		</dict>
		<key>快乐女声</key>
		<dict>
			<key>沉淀</key>
			<array>
				<string>url</string>
				<string>http://url.mcvmc.com/xiami.php/1769078650.mp3</string>
			</array>
			<key>那年的情书</key>
			<array>
				<string>url</string>
				<string>hi</string>
			</array>
		</dict>
		<key>恋爱世纪</key>
		<dict>
			<key>恋爱世纪</key>
			<array>
				<string>url</string>
				<string>hi</string>
			</array>
		</dict>
		<key>恋爱世纪</key>
		<dict>
			<key>恋爱世纪</key>
			<array>
				<string>url</string>
				<string>hi</string>
			</array>
		</dict>
		<key>正常人</key>
		<dict>
			<key>Intro 言兑</key>
			<array>
				<string>url</string>
				<string>hi</string>
			</array>
			<key>乞丐</key>
			<array>
				<string>url</string>
				<string>hi</string>
			</array>
			<key>逻伯特</key>
			<array>
				<string>url</string>
				<string>hi</string>
			</array>
			<key>我唱我</key>
			<array>
				<string>url</string>
				<string>hi</string>
			</array>
			<key>木仓</key>
			<array>
				<string>url</string>
				<string>hi</string>
			</array>
			<key>好玩先生</key>
			<array>
				<string>url</string>
				<string>hi</string>
			</array>
			<key>口阿口我</key>
			<array>
				<string>url</string>
				<string>hi</string>
			</array>
			<key>别喜欢上我</key>
			<array>
				<string>url</string>
				<string>hi</string>
			</array>
			<key>字词句</key>
			<array>
				<string>url</string>
				<string>hi</string>
			</array>
			<key>不管了</key>
			<array>
				<string>url</string>
				<string>hi</string>
			</array>
			<key>口斤</key>
			<array>
				<string>url</string>
				<string>hi</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>快乐女声</key>
		<dict>
			<key>哭砂</key>
			<array>
				<string>url</string>
				<string>hi</string>
			</array>
			<key>相思如麻</key>
			<array>
				<string>url</string>
				<string>hi</string>
			</array>
			<key>大海</key>
			<array>
				<string>url</string>
				<string>https://dl-web.dropbox.com/s/8wdsmtlaype06z6/%E5%A4%A7%E6%B5%B7.mp4?</string>
			</array>
			<key>枉凝眉</key>
			<array>
				<string>url</string>
				<string>https://dl-web.dropbox.com/s/kdierl2ze9cg2kp/%E6%9E%89%E5%87%9D%E6%A2%85.mp4?</string>
			</array>
		</dict>
		<key>其他</key>
		<dict>
			<key>其他人</key>
			<dict>
				<key>知道不知道</key>
				<array>
					<string>url</string>
					<string>https://dl-web.dropbox.com/s/g7kujf4y8yxp9wn/%E7%9F%A5%E9%81%93%E4%B8%8D%E7%9F%A5%E9%81%93.mp4?dl=0</string>
				</array>
				<key>我很快乐</key>
				<array>
					<string>url</string>
					<string>https://dl-web.dropbox.com/s/u5kt0ine2i22ilm/%E6%88%91%E5%BE%88%E5%BF%AB%E4%B9%90.mp4?dl=0</string>
				</array>
			</dict>
		</dict>
			
	</dict>
</array>
</plist>
