<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>快乐女声</key>
		<dict>
			<key>退出</key>
			<array>
				<string>url</string>
				<string>https://dl-web.dropbox.com/s/56tpvo7nh7lpptn/%E9%80%80%E5%87%BA.mp3?</string>
			</array>
		</dict>
		<key>惜君</key>
		<dict>
			<key>我只在乎你</key>
			<array>
				<string>url</string>
				<string>https://dl-web.dropbox.com/s/lgt0fxsu8do4hpz/%E5%88%98%E6%83%9C%E5%90%9B-%E6%88%91%E5%8F%AA%E5%9C%A8%E4%B9%8E%E4%BD%A0.mp3?</string>
			</array>
			<key>漫步人生路</key>
			<array>
				<string>url</string>
				<string>https://dl-web.dropbox.com/s/gfhwxfjvu7df0pr/%E5%88%98%E6%83%9C%E5%90%9B-%E6%BC%AB%E6%AD%A5%E4%BA%BA%E7%94%9F%E8%B7%AF.mp3?</string>
			</array>
			<key>夜来香</key>
			<array>
				<string>url</string>
				<string>https://dl-web.dropbox.com/s/uwlux7zwz1kk0pr/%E5%88%98%E6%83%9C%E5%90%9B-%E5%A4%9C%E6%9D%A5%E9%A6%99.mp3?</string>
			</array>
			<key>你怎么说</key>
			<array>
				<string>url</string>
				<string>https://dl-web.dropbox.com/s/irycsm3uruh1fhc/%E5%88%98%E6%83%9C%E5%90%9B-%E4%BD%A0%E6%80%8E%E4%B9%88%E8%AF%B4.mp3?</string>
			</array>
			<key>何日君再来</key>
			<array>
				<string>url</string>
				<string>https://dl-web.dropbox.com/s/bpgr3snir7im6k0/%E5%88%98%E6%83%9C%E5%90%9B-%E4%BD%95%E6%97%A5%E5%90%9B%E5%86%8D%E6%9D%A5.mp3?</string>
			</array>
			<key>南海姑娘</key>
			<array>
				<string>url</string>
				<string>https://dl-web.dropbox.com/s/kpq4q2xhbw08xj5/%E5%88%98%E6%83%9C%E5%90%9B-%E5%8D%97%E6%B5%B7%E5%A7%91%E5%A8%98.mp3?</string>
			</array>
		</dict>
		<key>当我身边空无一人</key>
		<dict>
			<key>莫忘空城</key>
			<array>
				<string>url</string>
				<string>https://dl-web.dropbox.com/s/siyznomwkme58v4/%E5%88%98%E6%83%9C%E5%90%9B-%E8%8E%AB%E5%BF%98%E7%A9%BA%E5%9F%8E.mp3?</string>
			</array>
			<key>来</key>
			<array>
				<string>url</string>
				<string>https://dl-web.dropbox.com/s/ffzfx8vh0de4w6l/%E5%88%98%E6%83%9C%E5%90%9B-%E6%9D%A5.mp3?</string>
			</array>
			<key>多傻</key>
			<array>
				<string>url</string>
				<string>https://dl-web.dropbox.com/s/xymkxlqbwaqthhe/%E5%88%98%E6%83%9C%E5%90%9B-%E5%A4%9A%E5%82%BB.mp3?</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>快乐女声</key>
		<dict>
			<key>在水一方</key>
			<array>
				<string>url</string>
				<string>https://dl-web.dropbox.com/s/f7y4d5p4ngcl23r/%E5%9C%A8%E6%B0%B4%E4%B8%80%E6%96%B9.mp4?</string>
			</array>
			<key>下一个天亮</key>
			<array>
				<string>url</string>
				<string>https://dl-web.dropbox.com/s/9shw1ahleax1v3d/%E4%B8%8B%E4%B8%80%E4%B8%AA%E5%A4%A9%E4%BA%AE.mp4?</string>
			</array>
			<key>大海</key>
			<array>
				<string>url</string>
				<string>https://dl-web.dropbox.com/s/8wdsmtlaype06z6/%E5%A4%A7%E6%B5%B7.mp4?</string>
			</array>
			<key>南海姑娘</key>
			<array>
				<string>url</string>
				<string>https://dl-web.dropbox.com/s/jk7k0cioj0n0dzu/%E5%8D%97%E6%B5%B7%E5%A7%91%E5%A8%98.mp4?</string>
			</array>
			<key>怎样</key>
			<array>
				<string>url</string>
				<string>https://dl-web.dropbox.com/s/jktf9q0wcoxww32/%E6%80%8E%E6%A0%B7.mp4?</string>
			</array>
			<key>万水千山总是情</key>
			<array>
				<string>url</string>
				<string>https://dl-web.dropbox.com/s/ksvi0cgc81sb0z9/%E4%B8%87%E6%B0%B4%E5%8D%83%E5%B1%B1%E6%80%BB%E6%98%AF%E6%83%85.mp4?</string>
			</array>
			<key>等你爱我</key>
			<array>
				<string>url</string>
				<string>https://dl-web.dropbox.com/s/67aqmwolxi6840c/%E7%AD%89%E4%BD%A0%E7%88%B1%E6%88%91.mp4?</string>
			</array>
			<key>亲爱的小孩</key>
			<array>
				<string>url</string>
				<string>https://dl-web.dropbox.com/s/k0vnj2voyqrbh61/%E4%BA%B2%E7%88%B1%E7%9A%84%E5%B0%8F%E5%AD%A9.mp4?</string>
			</array>
			<key>祝福</key>
			<array>
				<string>url</string>
				<string>https://dl-web.dropbox.com/s/d9jpqooyjhnsa9j/%E7%A5%9D%E7%A6%8F.mp4?</string>
			</array>
			<key>枉凝眉</key>
			<array>
				<string>url</string>
				<string>https://dl-web.dropbox.com/s/kdierl2ze9cg2kp/%E6%9E%89%E5%87%9D%E6%A2%85.mp4?</string>
			</array>
			<key>暧昧</key>
			<array>
				<string>url</string>
				<string>https://dl-web.dropbox.com/s/mpfzm72adsah7b5/%E6%9A%A7%E6%98%A7.mp4?</string>
			</array>
			<key>爱笑的眼睛</key>
			<array>
				<string>url</string>
				<string>https://dl-web.dropbox.com/s/1lp6fml8h4u0kk2/%E7%88%B1%E7%AC%91%E7%9A%84%E7%9C%BC%E7%9D%9B.mp4?</string>
			</array>
			<key>深情相拥</key>
			<array>
				<string>url</string>
				<string>https://dl-web.dropbox.com/s/jjsqt2n28ftvsz4/%E6%B7%B1%E6%83%85%E7%9B%B8%E6%8B%A5.mp4?</string>
			</array>
			<key>牵手</key>
			<array>
				<string>url</string>
				<string>https://dl-web.dropbox.com/s/hllnucpokh6kdkj/%E7%89%B5%E6%89%8B.mp4?</string>
			</array>
		</dict>
		<key>电视节目</key>
		<dict>
			<key>歌声传奇</key>
			<dict>
				<key>哭砂</key>
				<array>
					<string>url</string>
					<string>https://dl-web.dropbox.com/s/n3apkenavkvbh28/%E5%93%AD%E7%A0%82.mp4?</string>
				</array>
				<key>大约在冬季</key>
				<array>
					<string>url</string>
					<string>https://dl-web.dropbox.com/s/gmmu8qmd8cl7f32/%E5%A4%A7%E7%B4%84%E5%9C%A8%E5%86%AC%E5%AD%A3.mp4?</string>
				</array>
				<key>相思如麻</key>
				<array>
					<string>url</string>
					<string>https://dl-web.dropbox.com/s/xqv6bbamuy9swmq/%E7%9B%B8%E6%80%9D%E5%A6%82%E9%BA%BB.mp4?</string>
				</array>
				<key>好人好梦</key>
				<array>
					<string>url</string>
					<string>https://dl-web.dropbox.com/s/v71c4i7kckjbd4u/%E5%A5%BD%E4%BA%BA%E5%A5%BD%E5%A4%A2.mp4?</string>
				</array>
				<key>心雨</key>
				<array>
					<string>url</string>
					<string>https://dl-web.dropbox.com/s/430vwwx9znlcipw/%E5%BF%83%E9%9B%A8.mp4?</string>
				</array>
			</dict>
			<key>其他</key>
			<dict>
				<key>我不想说</key>
				<array>
					<string>url</string>
					<string>https://dl-web.dropbox.com/s/aqb1hhkqpx7cxxs/%E6%88%91%E4%B8%8D%E6%83%B3%E8%AA%AA.mp4?</string>
				</array>
				<key>千千阙歌</key>
				<array>
					<string>url</string>
					<string>https://dl-web.dropbox.com/s/oht3zmk1sf2edr6/%E5%8D%83%E5%8D%83%E9%98%99%E6%AD%8C.mp4?</string>
				</array>
				<key>约定</key>
				<array>
					<string>url</string>
					<string>https://dl-web.dropbox.com/s/11fv1xyyvyzb5ad/%E7%B4%84%E5%AE%9A.mp4?</string>
				</array>
				<key>明明白白我的心</key>
				<array>
					<string>url</string>
					<string>https://dl-web.dropbox.com/s/rtiun5gfkl11p25/%E6%98%8E%E6%98%8E%E7%99%BD%E7%99%BD%E6%88%91%E7%9A%84%E5%BF%83.mp4?</string>
				</array>
			</dict>
		</dict>	
	</dict>
	<dict>
		<key>退出</key>
		<array>
			<string>url</string>
			<string>https://dl-web.dropbox.com/s/27vgi76jckd3ujg/%E9%80%80%E5%87%BA.mp4?</string>
		</array>
		<key>莫忘空城</key>
		<array>
			<string>url</string>
			<string>https://dl-web.dropbox.com/s/l9cgb2letjc984y/%E8%8E%AB%E5%BF%98%E7%A9%BA%E5%9F%8E.mp4?</string>
		</array>
		<key>来</key>
		<array>
			<string>url</string>
			<string>https:///dl-web.dropbox.com/s/9wz02hhyqatroqa/%E4%BE%86.mp4?</string>
		</array>
		<key>我只在乎你</key>
		<array>
			<string>url</string>
			<string>https://dl-web.dropbox.com/s/e47ullvwj3fbsdp/%E6%88%91%E5%8F%AA%E5%9C%A8%E4%B9%8E%E4%BD%A0.mp4?</string>
		</array>
	</dict>
</array>
</plist>
