<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>你看到的我是蓝色的</key>
	<dict>
		<key>习惯</key>
		<string>hi</string>
		<key>爸爸给的坚强</key>
		<string>hi</string>
		<key>被剧终的音符</key>
		<string>hi</string>
		<key>我没那么狠心</key>
		<string>hi</string>
		<key>微笑练习</key>
		<string>hi</string>
		<key>你不在的时候</key>
		<string>hi</string>
		<key>你看到的我是蓝色的</key>
		<string>hi</string>
		<key>灯</key>
		<string>hi</string>
		<key>我为谁而来</key>
		<string>hi</string>
		<key>沉淀</key>
		<string>hi</string>	
	</dict>
	<key>可能</key>
	<dict>
		<key>Sorry Day</key>
		<string>hi</string>
		<key>可能</key>
		<string>hi</string>
		<key>化妆师</key>
		<string>hi</string>
		<key>私游</key>
		<string>hi</string>
		<key>口袋里的练习曲</key>
		<string>hi</string>
		<key>你说的对</key>
		<string>hi</string>
		<key>房间1501</key>
		<string>hi</string>
	</dict>
	<key>快乐女声</key>
	<dict>
		<key>沉淀</key>
		<string>hi</string>
	</dict>
	<key>恋爱世纪</key>
	<dict>
		<key>恋爱世纪</key>
		<string>hi</string>
	</dict>
	<key>恋爱世纪</key>
	<dict>
		<key>恋爱世纪</key>
		<string>hi</string>
	</dict>
	<key>正常人</key>
	<dict>
		<key>Intro 言兑</key>
		<string>hi</string>
		<key>乞丐</key>
		<string>hi</string>
		<key>逻伯特</key>
		<string>hi</string>
		<key>我唱我</key>
		<string>hi</string>
		<key>木仓</key>
		<string>hi</string>
		<key>好玩先生</key>
		<string>hi</string>
		<key>口阿口我</key>
		<string>hi</string>
		<key>别喜欢上我</key>
		<string>hi</string>
		<key>字词句</key>
		<string>hi</string>
		<key>不管了</key>
		<string>hi</string>
		<key>口斤</key>
		<string>hi</string>
	</dict>
</dict>
</plist>
